:host {
  display: block;
  position: relative;
  border: 1px solid #aaa;
}


.atmentionEditorField,
.atmentionHighlighter {
  margin: 0;
  padding: 8px; /* TODO */
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.atmentionEditorField {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  resize: none;
}

.atmentionHighlighter {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 54px; /** (3 * 18px); **/
}

.atmentionHighlighter span {
  visibility: hidden;
}

.atmentionHighlighter .mention {
  visibility: visible;
  color: transparent;
  background: #ccc;
}


.atmentionSuggestionsOverlay {
  display: block;
  position: fixed;
}

.atmentionSuggestionsContainer {
  display: block;
  overflow: auto;

  max-height: 96px; /* 4 x 24 */
  border: 1px solid #aaa;
  background: white;
}

.atmentionNoResults {
}

.atmentionSuggestionList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.atmentionSuggestionListItem {
  white-space: nowrap;
  /* Vertical center */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.atmentionSuggestionListItem.active,
.atmentionSuggestionListItem.active:hover {
  background: #ccc;
}

.atmentionSuggestionListItem:hover {
  background: #eee;
  cursor: pointer;
}
