$HIGHLIGHT_COLOR: #ccc;
$BORDER_COLOR: #aaa;

atmention-textarea {
  display: block;
  position: relative;
}

.atmention {
  &InputContainer {
    position: relative;
    overflow-y: visible;
    border: 1px solid $BORDER_COLOR;
  }

  &InputField,
  &Highlighter {
    margin: 0;
    padding: 8px; /* TODO */
    font-family: inherit;
    font-size: inherit;
    border: none;
  }

  &InputField {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;

    resize: none;
  }

  &Highlighter {
    display: block;

    white-space: pre-wrap;
    word-wrap: break-word;

    span {
      visibility: hidden;
    }

    span.atmentionMarkup {
      visibility: visible;
      color: transparent;
      background: $HIGHLIGHT_COLOR;
    }
  }

  &SuggestionsContainer {
    display: block;
  }

  &NoResults {
  }

  &SuggestionList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
  }

  &SuggestionListItem {
    white-space: nowrap;

    &.active,
    &.active:hover {
      background: $HIGHLIGHT_COLOR;
    }

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }

}
