$HIGHLIGHT_COLOR: #4D90FE;
$BORDER_COLOR: #aaa;

atmention-textarea {
  display: block;
}

.atmention {
  &InputContainer {
    position: relative;
    height: 150px; /* TODO */
  }

  &InputField,
  &Highlighter {
    display: block;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px; /* TODO */
    border-width: 1px;
    font-family: inherit;
    font-size: inherit;
  }

  &InputField {
    resize: none;
    background: transparent;
  }

  &Highlighter {
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;

    span {
      white-space: pre-wrap;
      word-wrap: break-word;
      visibility: hidden;
    }

    span.markup {
      visibility: visible;
      color: transparent;
      background: $HIGHLIGHT_COLOR;
    }
  }

  &SuggestionsContainer {
    display: block;
    height: 64px;
    border: 1px solid $BORDER_COLOR;
    border-top: none;
  }

  &SuggestionList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
  }

  &SuggestionListItem {
    white-space: nowrap;

    &.active,
    &.active:hover {
      background: $HIGHLIGHT_COLOR;
    }

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }

}
