$HIGHLIGHT_COLOR: #ccc;
$BORDER_COLOR: #aaa;

atmention-textarea {
  display: block;
  position: relative;
}

atmention-render {
  display: block;
}

.atmention {
  &InputContainer {
    position: relative;
    border: 1px solid $BORDER_COLOR;
  }

  &InputField,
  &Highlighter {
    margin: 0;
    padding: 8px; /* TODO */
    font-family: inherit;
    font-size: inherit;
    border: none;
  }

  &InputField {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;

    resize: none;
  }

  &Highlighter {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 3 * 18px; // DEBUG

    span {
      visibility: hidden;
    }

    span.mention {
      visibility: visible;
      color: transparent;
      background: $HIGHLIGHT_COLOR;
    }
  }

  &SuggestionsOverlay {
    display: relative;
    position: fixed;
  }

  &SuggestionsContainer {
    display: block;
    overflow: auto;

    max-height: 96px; /* 4 x 24 */
    border: 1px solid $BORDER_COLOR;
    background: white;
  }

  &NoResults {
  }

  &SuggestionList {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &SuggestionListItem {
    white-space: nowrap;

    // Vertical center
    display: flex;
    flex-direction: row;
    align-items: center;

    &.active,
    &.active:hover {
      background: $HIGHLIGHT_COLOR;
    }

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }

}
