<div class="atmention" style="height: 100px">
  <atmention-highlighter class="atmentionHighlighter" segments="$ctrl.segments"></atmention-highlighter>
  <textarea class="atmentionInputField"></textarea>
  <atmention-suggestions class="atmentionSuggestionsOverlay" suggestions="$ctrl.suggestions" on-select="$ctrl.applySuggestion"></atmention-suggestions>
</div>

<!-- Debug info -->
<div style="margin-top: 120px">
  <pre>Current selection: {{$ctrl.selectionStart}},{{$ctrl.selectionEnd}}</pre>
</div>
